@import 'blocks/reset';
@import 'blocks/variables';
body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

.people {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 30px;
}

.person {
  width: 200px;
  height: 231px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F4F4F;
  justify-content: center;
  transition: 1s;
  position: relative;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 1s;
  margin: 12px;
}

// .rank {
//   position: absolute;
//   top: 50%;
//   right: 0;
//   border-radius: 50%;
//   width: 32px;
//   height: 32px;
//   background-color: #fff;
//   color: #8B0000;
//   font-size: 16px;
//   line-height: 18px;
//  }

.sport {
  opacity: 0;
}

.pay {
  opacity: 0;
}



.person:hover {
  background-color: #EEEEEE;
  border-radius: 12px;
  width: 264px;
  height: 344px;
  transition: 1s;
}

.person:hover img {
  height: 240px;
  width: 240px;
  transition: 1s;
  border-radius: 60px;
}
.person:hover .sport {
  opacity: 1;
}

.person:hover .pay{
  opacity: 1;
}
// @media only screen and (max-width: 750px) {
//   .people {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//   }
// }
